.WritingCaret {
  background: #5655a4;
  display: inline-block;
  height: 21px;
  margin: 0 -1px 4px;
  width: 2px;
  vertical-align: bottom;
}

.WritingCaret.invisible {
  background: rgba(0, 0, 0, 0);
}
